@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes buttonAppear {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: center;
    }
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/free-photo/elegant-blue-background-business-presentation_1017-46755.jpg?t=st=1735321781~exp=1735325381~hmac=481904093ab668f5ddbaa59f318a34eb98ff63ef4151f6a55695f448f5f73f52&w=1380');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    animation: slideIn 3s ease-in-out infinite;
  }
  
  .header {
    margin-top: 50px;
    color: #4333d6;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .header h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .quotes {
    margin: 20px 0;
    color: #4333d6;
    font-size: 18px;
    font-style: italic;
    max-width: 600px;
    animation: fadeInScale 1.5s ease-in-out;
  }
  
  .buttons {
    margin-top: 30px;
  }
  
  .buttons .btn {
    background: linear-gradient(45deg, #4333d6, #73c5e5);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    margin: 10px;
    animation: buttonAppear 1s ease-in-out forwards;
  }
  
  .buttons .btn:nth-child(1) {
    animation-delay: 0.3s;
  }
  
  .buttons .btn:nth-child(2) {
    animation-delay: 0.6s;
  }
  
  .btn:hover {
    background: linear-gradient(45deg, #73c5e5, #4333d6);
    transform: scale(1.1);
  }
  